h3
{
    font-family:andika;
    color:teal;
    font-size:40px;
    background:#FFCCAA;
    text-align: center;
}
p.new
{
    font-family:Ubuntu;
    color:maroon;
    font-size:20px;
    text-align: justify;
}
body
{
    background:#AAFFCC;
}
